<!doctype html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
    {% block header %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ADMIN</title>
  </head>
  <body>

    <nav>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    <header>
      {% for category, message in messages %}
      <div class=" {{ category }} fadeflash alert border text-center" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    </header>
    {% endwith %}
    <main>
      {% block main %} {% endblock %}
    </main>

    <footer>
    </footer>

  </body>
</html>
